.construction-alert {
  background-color: #ffcc00;
  color: #000;
  text-align: center;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.construction-alert-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.construction-alert-content {
  background-color: var(--background-color, #ffffff);
  padding: 30px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  position: relative;
  max-width: 500px;
  width: 90%;
}

.construction-alert-content:hover {
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.5);
}

.construction-alert-content h2 {
  font-size: 24px;
  color: var(--primary-color, #001c55);
  margin-bottom: 10px;
}

.construction-alert-content p {
  font-size: 16px;
  color: var(--text-color, #333333);
  margin-bottom: 20px;
}

.close-button {
  position: relative;
  bottom: 10px;
  background: #0078d4;
  border: solid 1px #0078d4;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.close-button:hover {
  background-color: #ffffff; /* Matches Button.css hover style */
  color: black; /* Matches Button.css hover style */
  transition: ease-in 0.3s;
}
